.page-body{
  background-image: url('./doctorPhoto.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Scale the image to cover the div */
}

#title{
  margin-right: '40%';
  font-weight:  'bolder';
}

.radial-gradient {
  background: radial-gradient(ellipse 500px 150px at 30% 60%, rgb(44, 113, 217), rgb(37, 85, 157));
}